font-family = 'Droid Sans', 'Arial', 'sans-serif'
nav-width = 250px
helpcolor = white
linkColor = #126499
linkHoverColor = #06e

#helpBox
  position fixed
  bottom 20px
  width 500px
  min-height 150px
  background-color helpcolor
  left 50%
  transform translateX(-50%)
  box-shadow 0px 0px 10px 2px rgba(0,0,0,0.6)
  z-index 12
  display none
  h1
    font-family font-family
    font-size 20px
    color linkColor
    padding-top 10px
    padding-left 10px
  p
    padding-left 10px
    font-family font-family

  .helpBtn
    width 15px
    background-color #464646
    border none
    outline none
    transition background-color .3s
    &:hover
      &:enabled
        background-color linkColor
        cursor pointer
    &:active
      &:enabled
        background-color linkHoverColor

  #helpNextButton
    position absolute
    right -15px
    bottom 0
    height 100%
    background-image url("../data/sources/img/right.svg")
    background-size 10px 10px
    background-repeat no-repeat
    background-position center


  #helpPrevButton
    position absolute
    background-image url("../data/sources/img/left.svg")
    background-size 10px 10px
    background-repeat no-repeat
    background-position center
    bottom 0
    left -15px
    height 100%


  #helpCloseButton
    position absolute
    top 5px
    right 5px
    width 22px
    height 22px
    border none
    outline none
    cursor pointer
    background transparent url("../data/sources/img/sprite-icons.png") -67px -116px no-repeat

  #helpHomeButton
    position absolute
    top 5px
    right 30px
    width 22px
    height 22px
    border none
    outline none
    cursor pointer
    background transparent url("../data/sources/img/home.png") no-repeat
    background-size 21px 21px
        
   #helpContent
    position relative
    width 100%
    margin-bottom 20px
    p
      padding-left 10px
      padding-right 10px
    a
      &:hover
        cursor pointer
    .helpWelcomeHref
      margin 0 
      padding 0
      text-align center
      display block

  #helpVideo
    display block
    margin-left auto
    margin-right auto

#helpCover
  position fixed
  top 0
  width 100%
  height 100%
  background-color rgba(0,0,0,0.8)
  z-index 10
#helpCover2
  position fixed
  top 0
  width 100%
  height 100%
  z-index 12

#helpNav 
  position fixed
  bottom 20px
  left 20px
  width nav-width
  min-height 50px
  background-color helpcolor
  box-shadow 0 0 10px 0 rgba(0,0,0,0.4)
  padding-top 20px
  z-index 100
  h2
    color #314e64
    font-family font-family
    font-size 20px
    font-weight normal
    margin 5px 20px 15px 20px
    padding-bottom 5px
    border-bottom 1px solid #314e64
    line-height 20px
    .expanded
      background url("../data/sources/img/sprite-icons.png") -20px -220px no-repeat
    .collapsed
      background url("../data/sources/img/sprite-icons.png") -19px -169px no-repeat 
    #helpMinButton
      display block
      width 12px
      height 12px
      float right
      position relative
      top 5px
      &:hover
        cursor pointer
    
  #helpNavContent
    width nav-width
  
    .helpUl
      list-style none
      color black
      padding 0
      margin 0
    
    .helpLi
      margin 0
      padding 0
      h3
        margin 0
        padding 0
        display block
        font-family font-family
        padding-left 20px
        margin-bottom 10px
        color linkColor
        font-size 18px
        line-height 25px
        &:hover 
          cursor pointer
          text-decoration underline
        span
          position absolute
          right 0
          padding-right 20px
      ul  
        list-style none
        margin 0
        padding 0
        display none
        .helpNavline
          display block
          margin 0
          padding 0
          margin-bottom 7px
          width nav-width
          background-color #D1D1D1
          &:hover 
            background-color linkColor
            color white
            cursor pointer
            p
              color white
          p
            color black
            margin 0
            padding-left 20px
            font-size 12px
            &:hover 
              text-decoration none
        .currentNavline
          background-color linkColor
          p
            color white

.helpHighlighted
  position relative
  z-index 11
  opacity 0.01
  color white !important
  
.helpColored 
  position relative
  z-index 11
  opacity 0.01
  background-color #63FE44 !important


         
        
         
   
 